$black: #000000;
$white: #ffffff;
$blue-dark: #25252C;
$brown: #19181E;
$brown-light: #353541;
$red: #E03D24;

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    &:focus{
      outline: none;
    }
}

body{
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: geometricPrecision;
  overflow-x: hidden;
  background-color: $blue-dark;
  font-family: 'Source Sans Pro', sans-serif;
}

p{
  margin: 0;
  font-weight: 400;
}

a{
  text-decoration: none;
  outline: none;
  color: inherit;
    &:hover,
    &:focus{
      outline: none;
      text-decoration: none;
    }
}

ul{
  padding: 0;
  margin: 0;
}

li{
  list-style-type: none;
}

img{
  max-width: 100%;
}

.__red{
  color: $red;
}
.__white{
  color: $white;
}

.main{
  position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: repeat;
      background-image: url(img/light_toast.png);
      opacity: .5;
    }
}

.bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .4s ease;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      opacity: .5;
    }
    &.__iron-man{
        &:before{
          background-image: url(img/iron-man/Iron-Man.png);
        }
    }
    &.__captain{
        &:before{
          background-image: url(img/captain/captain_america_PNG86.png);
        }
    }
    &.__spider-man{
        &:before{
          background-image: url(img/spider-man/spider_man_PNG97.png);
        }
    }
    &.active{
      opacity: 1;
    }
}



#wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  max-width: 1680px;
  margin: 0 auto;
}

.main-carousel-slide{
  padding: 200px 40px;
  position: relative;
    &.__spider-man{
        .content-inner-wrap-image{
          max-width: 864px;
          width: 45vw;
        }
        .main-title{
            .__red{
              padding-right: 30px;
            }
            .__white{
              padding-left: 30px;
            }
        }
    }
    &.__captain{
        .main-title{
          font-size: 106px;
            .__red{
              padding-right: 30px;
            }
            .__white{
              padding-left: 30px;
            }
        }
        .content-inner-wrap-image{
          left: 40%;
        }
    }
}

.content{
  background: #19181e;
  background: -moz-linear-gradient(-45deg, #19181e 0%, #353541 100%);
  background: -webkit-linear-gradient(-45deg, #19181e 0%,#353541 100%);
  background: linear-gradient(135deg, #19181e 0%,#353541 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19181e', endColorstr='#353541',GradientType=1 );
  height: calc(100vh - 400px);
  min-height: 700px;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 100px;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: repeat;
      background-image: url(img/light_toast.png);
      opacity: .5;
    }
}

.main-carousel-wrap{
  position: relative;
}

.content-inner-wrap{
  height: 100%;
  position: relative;
  background-color: $white;
  padding: 70px;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 60%;
      height: 100%;
      background: #19181e;
      background: -moz-linear-gradient(45deg, #19181e 0%, #353541 100%);
      background: -webkit-linear-gradient(45deg, #19181e 0%,#353541 100%);
      background: linear-gradient(-135deg, #19181e 0%,#353541 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353541', endColorstr='#19181e',GradientType=1 );
    }
    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 60%;
      height: 100%;
      background-repeat: repeat;
      background-image: url(img/light_toast.png);
      opacity: .5;
    }
}

.header{
  position: absolute;
  z-index: 2;
  top: 200px;
  left: 0;
  width: 100%;
  padding: 0 40px;
}

.container{
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 100px;
}

.burger{
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;
  width: 24px;
  height: 16px;
  display: inline-block;
}

.burger-arrows{
  position: absolute;
  background-color: $white;
  left: 0;
  width: 100%;
  height: 1px;
  border-radius: 2px;
    &:nth-child(1){
      top: 0;
    }
    &:nth-child(2){
      top: 50%;
      transform: translate(0,-50%);
    }
    &:nth-child(3){
      bottom: 0;
    }
}

.header-panel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  color: $white;
}

.username{
  font-size: 16px;
}

.main-carousel-nav{
  position: absolute;
  display: flex;
  writing-mode: vertical-rl;
  transform: scale(-1,-1);
  height: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 78px;
}

.nav-link{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2em;
  font-size: 12px;
  color: $white;
  transition: all .2s ease;
    &.active,
    &:hover,
    &:focus{
      color: $red;
    }
    &:visited{
      color: $white;
    }
}

.main-carousel-nav-list-item{
  display: inline-block;
  position: relative;
  padding: 40px 0 40px 0;
    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      right: 50%;
      margin: 0 -2px 0 0;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $white;
    }
    &:last-child{
      padding-bottom: 0;
        &:before{
          display: none;
        }
    }
    &:nth-child(1){
      padding-top: 0;
    }
}

.logo{
  display: inline-block;
  max-width: 150px;
}

.main-title{
  position: relative;
  font-weight: 700;
  font-size: 152px;
  text-transform: uppercase;
  padding: 45px 0 0;
  display: block;
  z-index: 1;
  white-space: nowrap;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 4px;
      background-color: $red;
    }
    .__red{
      padding-right: 70px;
    }
    .__white{
      padding-left: 70px;
    }
}

.main-carousel-pagination{
  position: absolute;
  max-width: 300px;
  bottom: 70px;
  left: 70px;
  width: 100%;
}

.main-carousel-description{
  font-weight: 100;
  text-transform: capitalize;
  font-size: 14px;
  border-top: 1px rgba(0,0,0,.5) solid;
  padding: 2px 0 0;
}

.slides-count{
  padding: 0 0 4px;
  font-weight: 100;
}

.current-slide{
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -.1em;
}

.content-inner-wrap-image{
  position: absolute;
  max-width: 420px;
  width: 28vw;
  left: 39.5%;
  top: 36px;
  transform: translate(-50%,0);
  z-index: 1;
}

.content-inner-wrap-preview{
  position: absolute;
  max-width: 400px;
  width: 22vw;
  top: 60px;
  left: 69%;
  transform: translate(-50%,0);
  opacity: .1;
}

.content-inner-wrap-preview-prev-wrap{
  top: 0;
  opacity: .1;
  position: absolute;
  max-width: 240px;
  left: 52%;
  width: 13vw;
  transform: translate(-50%,0) scaleX(-1);
  overflow: hidden;
}

.content-inner-wrap-preview-prev{
  max-width: 100%;
  height: auto;
  width: 100%;
  top: -20px;
  position: relative;
}

.content-inner-wrap-control{
  position: absolute;
  bottom: 70px;
  right: 70px;
  z-index: 1;
  max-width: 300px;
  width: 100%;
  text-align: right;
}

.btn-link{
  display: inline-block;
  height: 48px;
  line-height: 48px;
  border: none;
  background-color: $red;
  color: $white;
  font-size: 18px;
  max-width: 250px;
  width: 100vw;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  font-weight: 400;
  transition: all .2s ease;
    &:hover{
      background-color: $blue-dark;
      color: $white;
    }
}

.follow-link{
  font-size: 15px;
  font-weight: 100;
  color: $white;
  position: relative;
  display: inline-block;
  padding: 0 40px 2px 0;
  margin: 35px 0 0;
    &:before{
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      height: 100%;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      background-position: right center;
      background-image: url(img/right-arrow.svg);
    }
    &:after{
      content: '';
      position: absolute;
      top: 10px;
      right: 30px;
      width: 3px;
      height: 3px;
      background-color: $white;
      border-radius: 50%;
    }
}

.square{
  position: absolute;
  top: 70px;
  right: 70px;
  width: 15px;
  height: 15px;
  background-color: $red;
    &:before{
      content: '';
      position: absolute;
      width: 170%;
      height: 238%;
      top: 80%;
      transform: translate(-50%,-50%) rotate(90deg);
      left: 90%;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      background-position: center;
      background-image: url(img/sort.svg);
    }
}

.slick-dots{
  position: absolute;
  top: 50%;
  right: 84px;
    li{
      width: 8px;
      height: 8px;
      cursor: pointer;
      border-radius: 50%;
      border: 2px $white solid;
      margin: 15px 0;
      opacity: .5;
    }
    button{
      opacity: 0;
    }
    .slick-active{
      opacity: 1;
    }
}